﻿@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var allTypes = Umbraco.DataTypeService.GetAllDataTypeDefinitions();
    var typeId = allTypes.First(x => "Department".InvariantEquals(x.Name)).Id;
    var departments = Umbraco.DataTypeService.GetPreValuesByDataTypeId(typeId);
}

<div class="umb-grid">
    <div class="grid-section">
        <div class="light">
            <div class="container">
                @using (Html.BeginUmbracoForm("Listing", "Course", null, new { @class = "js-ajax-form", data_holder = "form-output" }, FormMethod.Post))
                {
                    @Html.DropDownList("department", departments.Select(department => new SelectListItem { Text = department, Value = department }), "View All")
                    <input type="submit" value="Search" />
                }
                <div class="form-output">
                    @Html.Action("Listing", "Course")
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/scripts/forms.js"></script>
}