﻿@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

<div class="umb-grid">
    <div class="grid-section">
        <div class="light">
            <div class="container">
                @Html.Action("Detail", "Course")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="/scripts/forms.js"></script>
}