﻿@model EnjoyDigitalUniversity.Models.Course
<div class="row clearfix">
    <div class="col-md-12 column">
        <div>
            <h1>@Model.Title</h1>
            <h2>Department: @Model.Department</h2>
            @if(!string.IsNullOrWhiteSpace(Model.Description))
            {
                <p>@Model.Description</p> 
            }

            @Html.Raw(Model.BodyText)
        </div>
    </div>
</div>
