﻿@model EnjoyDigitalUniversity.Models.CourseListingViewModel

<div class="row clearfix">
    <div class="col-md-12 column">
        <div>
            <h1>Courses</h1>
            <p>@(string.IsNullOrWhiteSpace(Model.Department) ? "View all our courses" : string.Format("View our {0} courses", Model.Department))</p>
            @if (Model.Courses.Any())
            {
                var departmentCourses = Model.Courses.GroupBy(x => x.Department);
                <ul>
                    @foreach (var department in departmentCourses.OrderBy(x => x.Key))
                    {
                        <li>
                            <h2>@department.Key</h2>
                            <ul>
                                @foreach (var course in department.OrderBy(x => x.Title))
                                {
                                    <li>
                                        <a href="@course.Url">@course.Title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
